// GLOBAL COLORS
//BLUES
$extra-dark-blue: #002343;
$midnight: #003B71;
$contrast-blue: #006BA6;
$app-blue: #0078B3;
$light-blue: #92CCF0;
$sky: #90CEF1;
$banner-warning-color: #94dfff;
$border-blue: #D9EAFB;
$pale-blue: #F0F7FA;


//GREYS
$black: #000000;
$inky: #0D1C3D;
$dark-gray: #58616B;
$dolphin: #677083;
$slate: #8F949D;
$light-dolphin: #B3B6C5;
$dark-graphite: #D3D6DC;
$gray: #ECEDEF;
$graphite: #E9EBEE;
$light-graphite: #F4F5F6;
$pebble: #F7F7F7;
$white: #FFFFFF;

// OTHER
$orange: #F36C05;
$star: #FFBC00;
$disabled-font: #B0B0B0;
$warning: #d00000;

$navbar-color: #F8FAFC;

